<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="/main.css"/>
    <title>movie</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <h1 class="movie__title">Heres a little more about <%=movie.attributes.title%></h1>

    <div class="movie">
        <%if (movie.attributes.title) {%>
            <h2 class="title">
            <%=movie.attributes.title%>
        </h2>
        <%}%>
        
        <%if (movie.attributes.image) {%>
            <img src="<%=movie.attributes.image.url%>" alt="Movie poster not found" class="poster">
        <%}%>

        <%if (movie.attributes.intro) {%>
            <p class="description">
            <%=movie.attributes.intro%>
            </p>
        <%}%>
    </div>
    <%- include('./partials/footer.ejs') %>

</body>
</html>